.App {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: column;

}

.Body {
  display: flex;
  justify-content: column;
}

.Slots {
  height: 100vh;
  width: 100vw;
  margin-left: 20vw;

  
}

.Realheader {
  background-color: red;
}